.banner-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 20px;
}

.banner-title{
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    letter-spacing: .2rem;
    text-decoration-line: underline overline;
}

.banner-image {
    border-radius: 50%;
    height: 500px;
    width: 500px;
    justify-content: space-around;
}

.article-paragraph {
    background-image: url('https://vogueprod.blob.core.windows.net/vogueoutput19490901thumbnails/Spreads/0x420/79.jpg');
    background-size: 500px;
    background-repeat: no-repeat;
    opacity: 0.6;
    font-weight: 500;
    color:black;
    overflow-wrap: break-word;
    
    font-weight: bold;
}

.article-title1 {
    overflow-wrap: break-word;
    margin: 15px; 
    width: 300px;
    text-decoration-line: underline overline;
}

.article-title2 {
    overflow-wrap: break-word;
    margin: 15px 45px; 
    width: 300px;
    text-decoration-line: underline overline;
}

.banner-button1 {
    margin: 10px 50px;
    padding: 3px 5px;
    line-height: 20px;
    border: none;
    background-color: #ffcccc;
}
