.main-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.POPOSList {
  width: calc(100% - 80px);
  margin: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.newArrivals {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  letter-spacing: .2rem;
  text-decoration-line: underline overline;
}
